.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-main {
  flex-grow: 1;
  background-color: #e0e0e0fa;
  padding: 20px;
  display: grid;
  gap: 10px; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  justify-items: center;
}

.App-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid gray;
}
.header-text {
  font-size: 24px;
  font-weight: bold;
}

.note-preview {
  background-color: yellow;
  height: 200px;
  width: 100%;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-preview h3 {
  font-size: 18px;
  margin: 0;
}

.note-preview p {
  font-size: 14px;
  margin: 0;
}


@media (max-width: 900px) {
  .App-main {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 900px) {
  .App-main {
    grid-template-columns: repeat(3, 1fr); 
  }
}

