
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid gray;
}

.header-text {
  font-size: 24px;
  font-weight: bold;
}

.add-note-button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer; 
}

.add-note-button:hover {
  background-color: #f0f0f0; 
}


.App-main {
  flex-grow: 1;
  background-color: #e0e0e0fa;
  height: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  padding: 20px;
}


.note-preview {
  background-color: yellow;
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-preview h3 {
  font-size: 18px;
  margin: 0;
}

.note-preview p {
  font-size: 14px;
  margin: 0;
}


@media (max-width: 900px) {
  .note-preview {
    width: 45%; 
  }
}

@media (min-width: 900px) {
  .note-preview {
    width: 30%; 
  }
}
